# Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [8]:
path = r'C:\Users\PC\Downloads\MM-2023 Instacart Basket Analysis'

In [12]:
# Import dataframes
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_deps = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

# Data Wrangling

## Renaming

In [13]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [15]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [17]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

## Transposing

In [20]:
df_dep_t = df_dep.T

In [22]:
new_header = df_dep_t.iloc[0]

In [23]:
new_header

0    department
Name: department_id, dtype: object

In [24]:
df_dep_t_new = df_dep_t[1:]

In [27]:
df_dep_t_new.columns = new_header

In [28]:
df_dep_t_new.head(30)

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

## Data Dictionary

In [29]:
data_dict = df_dep_t_new.to_dict('index')

In [30]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

## Subsetting

In [42]:
df_snacks =  df_prods[df_prods['department_id']==19]

In [34]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

## Step 2

In [38]:
df_ords['user_id'] = df_ords['user_id'].astype('str')

## Step 3

In [40]:
df_ords_step3 = df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

## Step 4

In [41]:
df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

10 am is the busiest hour.

## Step 5

In [43]:
print(data_dict.get('4'))

{'department': 'produce'}

## Step 6

In [46]:
df_breakfast =  df_prods[df_prods['department_id']==14]

In [47]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

## Step 7

In [48]:
df_step7 = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [49]:
df_step7.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

## Step 8

In [50]:
df_step7.shape

(7650, 5)

It has 7650 rows.

## Step 9

In [57]:
df_step9 = df_ords.loc[df_ords['user_id'] == 1]

In [58]:
df_step9.head()

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

## Step 10

In [59]:
df_step9.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []>

## Step 12

In [60]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

## Step 13

In [61]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))