# Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\PC\Downloads\MM-2023 Instacart Basket Analysis'

In [8]:
df_cstm = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)
df_ords = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_flags.pkl'))

## Step 4

In [9]:
df_cstm.shape

(206209, 10)

In [10]:
df_cstm.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [13]:
# Checking for mixed type columns
for col in df_cstm.columns.tolist():
  weird = (df_cstm[[col]].applymap(type) != df_cstm[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cstm[weird]) > 0:
    print (col)

First Name

In [14]:
# Changing mixed type column to string
df_cstm['First Name'] = df_cstm['First Name'].astype('str')

In [15]:
# Checking for NaN values
df_cstm.isnull().sum()

user_id         0
First Name      0
Surnam          0
Gender          0
STATE           0
Age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [20]:
# Renaming weird columns
df_cstm.rename(columns = {'Surnam' : 'Surname'}, inplace = True)
df_cstm.rename(columns = {'STATE' : 'State'}, inplace = True)

## Step 6

In [21]:
# Merging customers and orders/products dataframes
df_combined = df_cstm.merge(df_ords, on = 'user_id', indicator = True)

In [22]:
df_combined.head()

,user_id,First Name,Surname,Gender,State,Age,date_joined,n_dependants,fam_status,income,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,average_dspo,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Fewest orders,8,New customer,7.988889,Low spender,19.823529,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Fewest orders,8,New customer,7.988889,Low spender,19.823529,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Fewest orders,8,New customer,7.988889,Low spender,19.823529,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Fewest orders,8,New customer,7.988889,Low spender,19.823529,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Fewest orders,8,New customer,7.988889,Low spender,19.823529,Regular customer,both

In [23]:
# Remove _merge column 
df_combined = df_combined.drop(columns = ['_merge'])

## Step 8

In [24]:
df_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))